<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <title>EI1027</title>
</head>
<body class="text-center">
<div class="containter py-4 d-flex justify-content-center">
  <div class="card border-danger mb-6" style="max-width: 60rem;">
    <div class="card-header">ANULAR HABILIDAD</div>
    <div class="card-body text-danger">
      <h5 class="card-title">¿Quieres anular la habilidad <span th:text="${habilidad_anulada}"></span> ?</h5>
      <p class="card-text">Si anulas la habilidad no será visible para los usuarios, si hay usuarios con ofertas o colaboraciones relacionadas a la habilidad serán tambien anuladas.</p>
      <a href="../../lista" class="btn btn-outline-secondary">No, mantener activa</a>
      <a th:href="@{../anular_exito_habilidad/{id_hab}(id_hab=${id_habilidad})}" class="btn btn-danger">Sí, anular</a>
    </div>
  </div>
</div>

</div>
</body>
</html>