<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EI1027</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body class="text-center">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Skill Sharing</a>
  <span>
     <form action="/login" >
        <input type="submit" value="Inicia Sesión" class="btn btn-primary" />
    </form>

    <p></p>
     <form action="/clubesportiu/templates/Inicio_sesion.html" >
        <input type="submit" value="Registrate" class="btn btn-light" />
    </form>
  </span>
</nav>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>¡Inicia Sesión!</strong> Si quieres colborar inicia sesión o regístrate.
</div>
  <h2>Bienvenido/a esta es la lista de colaboraciones</h2>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id Colaboración</th>
    <th scope="col">Descripción</th>
    <th scope="col">Horas totales</th>
    <th scope="col">Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="colab: ${colaboraciones}">
    <td th:text="${colab.id_colab}"></td>
    <td th:text="${colab.horas_totales}"></td>
    <td th:text="${colab.estado}"></td>
  </tr>
  </tbody>
</table>
  <li><a href="/login">Prova l'aplicació</a></li>
  </ul>
</body>
</html>

