<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home estudiante</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Skill Sharing</a>
    <span>
        <p>¡Hola,  <span th:text="${estudiante.getNombre()}"></span>! <a href="/logout">Salir</a></p>

    </span>

</nav>
<div class="container py-4">
    <div class="row">
        <div class="col">
            <h2>Tus ofertas</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Habilidad</th>
                    <th scope="col">Fecha fin</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="oferta:${ofertas}">
                    <td th:text="${oferta.descripcion}"></td>
                    <td th:text="${oferta.id_Habilidad}"></td>
                    <td th:text="${oferta.fecha_Fin}"></td>
                    <td>
                        <a  type="button" class="btn btn-outline-warning"><i class="bi bi-pencil"></i></a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="oferta" class="btn btn-primary">Nueva oferta</a>
        </div>
        <div class="col">
            <h2>Tus peticiones</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Habilidad</th>
                    <th scope="col">Fecha fin</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="peticion:${peticiones}">
                    <td th:text="${peticion.descripcion}"></td>
                    <td th:text="${peticion.id_Habilidad}"></td>
                    <td th:text="${peticion.fecha_Fin}"></td>
                    <td>
                        <a  type="button" class="btn btn-outline-warning"><i class="bi bi-pencil"></i></a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="oferta" class="btn btn-primary">Nueva peticion</a>
        </div>
    </div>
</div>
</body>
</html>