<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>EI1027</title>
  <meta charset="UTF-8">
  <!-- Afegim una fulla d’estil (Bootstrap) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand 5px">Skill Sharing</a>
</nav>
<body class="bg-light">
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Nueva oferta</h2>
    </div>
    <div class="row g-5">
      <div class="col-md-8 col-lg-12">
          <form action="#" th:action="@{home_estudiante/oferta}"
                th:object="${oferta}" method="post" class="row g-3">
            <div class="col-sm-12">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea class="form-control" id="descripcion" rows="3" th:field="*{descripcion}"></textarea>
            </div>

            <div class="col-6 py-4">
              <label for="habilidad" class="form-label form-select-lg">Habilidad</label>
              <select id="habilidad" class="form-select form-select-lg mb-3" th:field="*{habilidad}">
                <option selected value="none">Selecciona una</option>
                <option th:each="h:${habilidades}" th:text="${h.nombre}" value="${h.nombre}"></option>
              </select>
            </div>

            <div class="col-6 py-4">
              <label>Duración de la oferta en meses</label></td>
              <td><input type="number" th:field="*{mesesExpiracion}" /></td>
            </div>

            <h2>Nueva petición</h2>

            <div class="col-12">
              <input type="submit" class="btn btn-primary" value="Aceptar"></input>
            </div>
          </form>
      </div>
    </div>
  </main>
</div>
</body>
</html>