<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home estudiante</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Skill Sharing</a>

     <form action="/clubesportiu/templates/Inicio_sesion.html" >
        <input type="submit" value="    Salir   " class="btn btn-outline-primary btn-lg btn-block" />
    </form>

</nav>

<div>
    <div class="container-xl" >
        <div class="row">
            <div class="col-md-6" style="background-color: red; "> Perfil Usuario
            </div>

            <div class="col-md-3" style="background-color: green; ">Listado de ofertas activas
            </div>

            <div class="col-md-3" style="background-color: blue; ">Listado de peticiones activas
            </div>

        </div>

    </div>
</div>
</body>
</html>