<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EI1027</title>
    <meta charset="UTF-8">
    <!-- Afegim una fulla d’estil (Bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand 5px">Skill Sharing</a>
</nav>
<body class="text-center">
<p></p>

<h1 class="fw-normal mb-7 pb-7" style="letter-spacing: 3px;">Login</h1>
<div class="d-inline-flex p-2 bd-highlight">


    <form action="#" th:action="@{/login}"
          th:object="${user}" method="post">
        <p>
            <label>Nom d'usuari:</label>
            <input class="form_control" type="text" th:field="*{username}"/>
        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </p>
        <p>
            <label>Contrasenya:</label>
            <input class="form_control" type="password" th:field="*{password}"/>
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </p>
        <input type="submit" value="Accedir" />
    </form>
</div>
</body>
</html>
