<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EI1027</title>
    <meta charset="UTF-8">
    <!-- Afegim una fulla d’estil (Bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand 5px">Skill Sharing</a>
</nav>
<body class="text-center">
<p></p>
<h1 class="fw-normal mb-7 pb-7" style="letter-spacing: 3px;">Login</h1>
<div class="d-inline-flex p-2 bd-highlight">

<form action="#" th:action="@{/login}"
      th:object="${user}" method="post">
    <p>

    <div class="form-outline mb-4">
    <label class="form-label" for="exampleInputEmail1">E-mail </label>
    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"  th:field="*{username}"/>
    <small id="emailHelp" class="form-text text-muted">Utiliza tu dirección de correo universitario</small>
</div>

    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </p>
    <p>
        <div class="form-group">
    <label class="form-label" for="examplePassword1">Password </label>
    <input class="form-control form-control-lg" type="password" id ="examplePassword1" th:field="*{password}"/>
        </div>
    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </p>
    <input type="submit"  class="btn btn-primary btn-block mb-4" value="Acceder" />

</form>
</div>
</body>
</html>
