<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>EI1027</title>
</head>
<body class="text-center">
<div class="containter py-4 d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Inicio de sesión realizado con éxito</h5>
            <p class="card-text"> Ya puedes ir a tu página de estudiante</p>
            <a href="home_estudiante/lista" class="btn btn-primary">Ir a mi página</a>
        </div>
    </div>
</div>

</div>
</body>
</html>